.autoslide-container {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  overflow: hidden;
  position: relative;
  margin: 50px auto;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.autoslide-track {
  display: flex;
  width: 105%; /* 5 รูป */
  height: 100%;
  animation: slideMove 25s infinite;
}

.autoslide {
  flex: 0 0 100%;
  height: 100%;
}

.autoslide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Animation เคลื่อนไหว */
@keyframes slideMove {
  0% { transform: translateX(0%); }
  20% { transform: translateX(0%); }

  25% { transform: translateX(-100%); }
  40% { transform: translateX(-100%); }

  45% { transform: translateX(-200%); }
  60% { transform: translateX(-200%); }

  65% { transform: translateX(-300%); }
  80% { transform: translateX(-300%); }

  85% { transform: translateX(-400%); }
  100% { transform: translateX(-400%); }
}
