/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
}

header {
  position: sticky;
  top: 0;
  background-color:  red;
  color: #f7f5f2;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.content {
  padding: 20px;
}

.section {
  height: 800px;
  margin-bottom: 20px;
  background: linear-gradient(#f9f9f9, #ddd);
  padding: 20px;
}